In [1]:
#Libraries Used
import pandas as pd
import numpy as np

In [63]:
#Constants
filename=r'data\train.csv'

In [83]:
#creating test and train data
'''
data2000=pd.read_csv("data\year_2000.csv",header=None,skiprows=[0,1])
data2001=pd.read_csv("data\year_2001.csv",header=None,skiprows=[0,1,2])
data2002=pd.read_csv("data\year_2002.csv",header=None,skiprows=[0,1,2])
data2003=pd.read_csv("data\year_2003.csv",header=None,skiprows=[0,1,2])
data2004=pd.read_csv("data\year_2004.csv",header=None,skiprows=[0,1,2])
data2005=pd.read_csv("data\year_2005.csv",header=None,skiprows=[0,1,2])
data2006=pd.read_csv("data\year_2006.csv",header=None,skiprows=[0,1,2])
data2007=pd.read_csv("data\year_2007.csv",header=None,skiprows=[0,1,2])
data2008=pd.read_csv("data\year_2008.csv",header=None,skiprows=[0,1,2])
data2009=pd.read_csv("data\year_2009.csv",header=None,skiprows=[0,1,2])
data2010=pd.read_csv("data\year_2010.csv",header=None,skiprows=[0,1,2])
data2011=pd.read_csv("data\year_2011.csv",header=None,skiprows=[0,1,2])
data2012=pd.read_csv("data\year_2012.csv",header=None,skiprows=[0,1,2])
data2013=pd.read_csv("data\year_2013.csv",header=None,skiprows=[0,1,2])

train=pd.concat([data2000,data2001,data2002,data2003,data2004,data2005,data2006,data2007,data2008,data2009,data2010,data2011,data2012,data2013])
train.drop(range(21,35),axis=1,inplace=True)
#train.drop([0],axis=0,inplace=True)
train.to_csv(r'data\train.csv', index = False)

test=pd.read_csv("data\year_2014.csv",header=None,skiprows=[0,1])
#test.drop(range(21,35),axis=1,inplace=True)
#test.drop([0],axis=0,inplace=True)
test.to_csv(r'data\test.csv',index=False)
''';

In [81]:
#Load dataset
data=pd.read_csv(filename,header=None,skiprows=[0,1])
#data.drop(range(21,35),axis=1,inplace=True)
data.columns=['Year', 'Month', 'Day', 'Hour', 'Minute', 'DHI', 'DNI', 'GHI',
       'Clearsky_DHI', 'Clearsky_DNI', 'Clearsky_GHI', 'Dew_Point',
       'Temperature', 'Pressure', 'Relative_Humidity', 'Solar_Zenith_Angle',
       'Precipitable_Water', 'Snow_Depth', 'Wind_Direction', 'Wind_Speed',
       'Fill_Flag']

In [82]:
data.head()

,Year,Month,Day,Hour,Minute,DHI,DNI,GHI,Clearsky_DHI,Clearsky_DNI,...,Dew_Point,Temperature,Pressure,Relative_Humidity,Solar_Zenith_Angle,Precipitable_Water,Snow_Depth,Wind_Direction,Wind_Speed,Fill_Flag
0,2000,1,1,0,30,0,0,0,0,0,...,-3,16.686819,1009.309814,24.774447,175.608907,0.822868,0.0,355.913025,3.736798,0
1,2000,1,1,1,30,0,0,0,0,0,...,-3,15.941789,1008.910156,25.817260,170.498432,0.812899,0.0,0.221199,3.702789,0
2,2000,1,1,2,30,0,0,0,0,0,...,-3,15.273784,1008.644226,26.849037,156.800652,0.798504,0.0,5.518349,3.614095,0
3,2000,1,1,3,30,0,0,0,0,0,...,-3,14.658539,1008.795288,27.805781,143.150090,0.775864,0.0,10.759026,3.487340,0
4,2000,1,1,4,30,0,0,0,0,0,...,-3,14.091296,1008.798096,28.667532,129.611982,0.751664,0.0,16.454460,3.319650,0

In [41]:
data.head()

,Year,Month,Day,Hour,Minute,DHI,DNI,GHI,Clearsky_DHI,Clearsky_DNI,...,Dew_Point,Temperature,Pressure,Relative_Humidity,Solar_Zenith_Angle,Precipitable_Water,Snow_Depth,Wind_Direction,Wind_Speed,Fill_Flag
0,Year,Month,Day,Hour,Minute,DHI,DNI,GHI,Clearsky DHI,Clearsky DNI,...,Dew Point,Temperature,Pressure,Relative Humidity,Solar Zenith Angle,Precipitable Water,Snow Depth,Wind Direction,Wind Speed,Fill Flag
1,2000,1,1,0,30,0,0,0,0,0,...,-3,16.68681858,1009.309814,24.77444661,175.6089068,0.822868198,0,355.9130249,3.736798048,0
2,2000,1,1,1,30,0,0,0,0,0,...,-3,15.9417887,1008.910156,25.81725984,170.4984323,0.812899109,0,0.221199036,3.702789068,0
3,2000,1,1,2,30,0,0,0,0,0,...,-3,15.27378364,1008.644226,26.84903711,156.8006524,0.798504359,0,5.518348694,3.614094734,0
4,2000,1,1,3,30,0,0,0,0,0,...,-3,14.65853875,1008.795288,27.80578118,143.1500899,0.775863682,0,10.75902557,3.487339973,0

In [42]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8761 entries, 0 to 8760
Data columns (total 21 columns):
Year                  8761 non-null object
Month                 8761 non-null object
Day                   8761 non-null object
Hour                  8761 non-null object
Minute                8761 non-null object
DHI                   8761 non-null object
DNI                   8761 non-null object
GHI                   8761 non-null object
Clearsky_DHI          8761 non-null object
Clearsky_DNI          8761 non-null object
Clearsky_GHI          8761 non-null object
Dew_Point             8761 non-null object
Temperature           8761 non-null object
Pressure              8761 non-null object
Relative_Humidity     8761 non-null object
Solar_Zenith_Angle    8761 non-null object
Precipitable_Water    8761 non-null object
Snow_Depth            8761 non-null object
Wind_Direction        8761 non-null object
Wind_Speed            8761 non-null object
Fill_Flag             8761 non-null object
dtypes: object(21)
memory usage: 1.4+ MB